<!doctype html>
<html>
  <head><title>Store | New user</title></head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
  <body>
    <h1>Add new hero</h1>
    <form action="/store" method="post" class="form-inline">
      <input type="text" name="name" class="form-control">
      <input type="text" name="last_name" class="form-control">
      <input type="text" name="nickname" class="form-control">
      <input type="submit" value="Add" class="btn btn-success">
    </form>
  </body>
</html>
